.logo__cursor {
    background: #36A3D9;
}

.menu .active {
    text-decoration: underline;
    text-underline-position: under;
}

.menu a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.copyright {
    margin-left: auto;
    margin-right: 0;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.mdlink {
    text-decoration: underline;
    text-underline-position: under;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
}
