/* ----------------------------- Markdown image ----------------------------- */
.markdown-image img {
    max-width: 100%;
}

/* ---------------------------------- Image --------------------------------- */
img {
    display: block;
    max-width: 100%;
}
img.center,
img.left {
    margin-right: auto;
}
img.center,
img.right {
    margin-left: auto;
}

/* --------------------------------- Figure --------------------------------- */
figure {
    display: table;
    max-width: 100%;
    margin: 25px 0;
}
figure.center,
figure.left {
    margin-right: auto;
}
figure.center,
figure.right {
    margin-left: auto;
}
figure figcaption {
    font-size: var(--size-400);
    margin-top: 5px;
    opacity: 0.8;
}
figure figcaption.left {
    text-align: left;
}
figure figcaption.center {
    text-align: center;
}
figure figcaption.right {
    text-align: right;
}

/* Horizontal scroll */
.math-scroll {
    display: block;
    max-width: 100%;
    overflow-x: auto;
}

/* Responsive image wrapping */
.wrap-right {
    float: right;
    padding-left: 20px;
    margin: auto;
}
.wrap-left {
    float: left;
    padding-right: 20px;
    margin: auto;
}
@media (max-width: 700px) {
    .wrap-left,
    .wrap-right {
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
