/* -------------------------------- Post list ------------------------------- */
#list-page {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 24px;
}
#list-page .title {
    display: block;
    color: var(--fg1);
    font-size: 20px;
    font-weight: bold;
}
#list-page .title a {
    color: var(--fg1);
    display: block;
}
#list-page .title a:hover {
    color: var(--accent-hover);
}
#list-page .date {
    width: 100%;
    text-align: left;
    color: var(--tag-text);
    margin-top: -12px;
}
#list-page .summary {
    color: var(--tag-text);
    margin-top: 6px;
    word-break: normal;
    overflow-wrap: anywhere;
    margin-bottom: 40px;
}

/* --------------------------------- Footer --------------------------------- */
#footer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: var(--tag-text);
    font-size: 14px;
}
.powerby {
    max-width: 750px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
.powerby a.icon {
    cursor: pointer;
}

/* ---------------------------- Blog title + Logo --------------------------- */
.profile {
    margin: 60px auto 0 auto;
    text-align: center;
}
.profile .avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profile h1 {
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 20px;
    color: var(--fg1);
    margin-top: 0;
    margin-bottom: 56px;
}
.profile h2 {
    font-size: 20px;
    font-weight: 300;
    color: var(--tag-text);
    margin-top: 0;
}
.title-wrapper {
    display: inline-flex;
}
.cursor {
    width: 4px;
    height: 2ex;
    background: var(--accent);
    margin-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
    animation: cursor 2s infinite;
}
@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
