nav.navigation {
    font-weight: bold;
    padding: 20px 20px 0;
    background: var(--bg1);
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}
nav.navigation a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: var(--accent);
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}
nav.navigation a:hover {
    color: var(--accent-hover);
}
nav.navigation a.button {
    background: var(--accent);
    color: var(--bg1);
    margin-left: 12px;
}
@media (max-width: 700px) {
    nav.navigation {
        padding: 20px 10px 0 0;
        background: var(--bg1);
        margin: 0 auto;
        text-align: right;
        z-index: 100;
    }
    nav.navigation a {
        top: 8px;
        right: 6px;
        padding: 8px 8px;
        color: var(--accent);
        font-size: 13px;
        line-height: 1.35;
        border-radius: 3px;
    }
}
@media (max-width: 324px) {
    nav.navigation a.button {
        display: none;
    }
}

.dark-mode-toggle {
    cursor: pointer;
}

/* ------------------------------ Scroll to top ----------------------------- */
.scroll-to-top .fas {
    color: var(--fg1);
}
.scroll-to-top {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: var(--bg3);
    padding: 0;
    margin: 0;
    position: fixed;
    width: 35px;
    height: 35px;
    left: 50%;
    bottom: 35px;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    opacity: 0;
    transform: translate(-50%, 100px);
    transition: transform 0.5s, opacity 0.3s;
}
.show-scroll-to-top {
    opacity: 1;
    transform: translate(-50%, 0);
}
