nav.navigation {
    font-weight: bold;
    padding: 20px 20px 0;
    background: var(--bg1);
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}
nav.navigation a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: var(--accent);
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}
nav.navigation a:hover {
    color: var(--accent-hover);
}
nav.navigation a.button {
    background: var(--accent);
    color: var(--bg1);
    margin-left: 12px;
}
@media (max-width: 700px) {
    nav.navigation {
        padding: 20px 10px 0 0;
        background: var(--bg1);
        margin: 0 auto;
        text-align: right;
        z-index: 100;
    }
    nav.navigation a {
        top: 8px;
        right: 6px;
        padding: 8px 8px;
        color: var(--accent);
        font-size: 13px;
        line-height: 1.35;
        border-radius: 3px;
    }
}
@media (max-width: 324px) {
    nav.navigation a.button {
        display: none;
    }
}

.dark-mode-toggle {
    cursor: pointer;
}
